{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Recipe</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Recipe</th>
        <th>Timing</th>
        <th>Ingridents</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for recipe in recipes %}
        <tr>
          <td>
            <a href="{% url 'recipe' recipe.pk %}">{{ recipe.name }}</a>
            <small class="text-muted d-block">{{ recipe.description }}</small>
          </td>
          <td class="align-middle">{{recipe.timing}}</td>
          <td class="align-middle"> {{recipe.ingridents}}</td>
          <td></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}